body {
    text-align: center;
    background-color: #8879B0;
}

h1 {
    font-size: 5rem;
    color: #FBC5C5;
    font-family: 'Rubik Wet Paint', cursive;
    text-shadow: 3px 0 #377D71;

}

footer {
    color: #DBEDF3;
    font-family: sans-serif;
}

/* buttons*/

.w {}

.a {}

.s {}

.d {}

.j {}

.k {}

.l {}

/* holds the buttons*/
.set {
    margin: 10% auto;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

.red {
    color: red;
}

/* code for the compostion of the faces */

#face {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    border-radius: 100%;
    border: solid, #000, 2px;
}

#left-eye {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 20px;
    height: 30px;
    background-color: #000;
    border-radius: 100%;
    border: solid, #fff, 20px;
}

#right-eye {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 20px;
    height: 30px;
    background-color: #000;
    border-radius: 100%;
    border: solid, #fff, 20px;
}

#mouth {
    position: absolute;
    left: 25%;
    width: 55%;
    height: 35%;
    background-color: #000;
    border-radius: 100%;
    border-bottom: solid, 3px, #000;
    bottom: 30px;
}

.cough {
    position: relative;
    outline: none;
    border: solid, #000, 2px;
    font-size: 5rem;
    font-family: 'Rubik Wet Paint', cursive;
    line-height: 2;
    font-weight: 900;
    color: #FBC5C5;
    text-shadow: 3px 0 #377D71;
    border-radius: 100%;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: antiquewhite;
}